header {
    display: flex;
    justify-content: space-between;
    padding: 10px 300px;
    background-color: #202124;
}
.left {
    display: flex;
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}
.logo {
    width: 300px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: red;
}
#About {
    display: flex;
    justify-content: space-between;
    padding: 30px 300px;
    background-color: #202124;;
}
.text {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    color: white;
}
.Zagreus {
    display: flex;
    justify-content: center;
}
.Zag-img {
    width: 300px;
}
#Encounters {
    display: flex;
    flex-direction: column;
    padding: 10px 300px;
}
.encounter-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 20px;
    text-align: center;
}
.info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
}
.info-img {
    max-width: 100px;
    border-radius: 50%;
}
.Quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}
.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 50px;
}
.quote {
    display: flex;
    justify-content: flex-start;
}
.Narrator {
    display: flex;
    justify-content: flex-end;
}
#Website {
    display: flex;
    justify-content: center;
    padding: 75px;
    color: white;
}
.long-box {
    display: flex;
    justify-content: space-evenly;
    background-color: #7a2525;
    width: 1000px;
    border-radius: 10px;
}
.lefty {
    display: flex;
    flex-direction: column;
}
.righty {
    display: flex;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #202124;
    color: white;
}